body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f2f2ff;
    color: #333;
}

header {
    text-align: center;
}

h1 span {
    color: #5a00f0;
}

section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
